---
layout: page
title: Face verification and clustering
permalink: /face-verification/
---

<img width="700" src="/img/bill.png">

<br/>

