---
layout: page
title: Face Verification and Clustering
permalink: /face-verification/
---

<img class="header-image" src="/img/bill.png">

Location: iProov, Elizabeth House, 39 York Road, SE1 7NQ, London (UK).

Supervisor: Dr. Andrew Newell.

<hr>

